.hos-select-dropdown-current {
    width: 300px;
    .hos-select-dropdown__item {
      display: inline;
    }
  }
  /*修改密码里用于密码策略信息提示和显示密码按钮的样式*/
  .length-str {
    font-size: small;
    font-weight: 200;
    float: left;
  }
  .icon-position {
    padding-right: 5px;
  }
.pt4-hos {
  padding-top: 4px;
}

/* 菜单管理里面的hos-icon-menu的单独颜色设置 */ 
.resource {
    .hos-icon-menu:before {
        color: #000;
    }
}
.resource-edit {
    .hos-icon-menu:before {
        color: #000;
    }
}