// base-sys

$-h-fit: 100%;
$--border-color: #DBDBDB;

// base-sys-dict
.base-sys-dict {
    .hos-aside {
        border-radius: 4px;
        padding: 0;
        box-shadow: 0 0 10px $--border-color;

        .hos-card {
            height: calc(100% - 2px);
            width: calc(100% - 2px) !important;
            border-color: $--border-color;
            box-shadow: none;

            .hos-card__header {
                margin-bottom: 0;
            }
            
            .hos-card__body {
                height: calc(100% - 49px);
                padding: 0;
                padding-left: 10px;
                box-shadow: none;
            }
        }
    }
	.hos-main {
		padding: 0;
		margin-left: 10px;
        box-shadow: 0 0 10px $--border-color;
    
        .userTab .hos-tabs__content {
        box-sizing: border-box;
        }
	}

	.main-tree {
		height: calc(100% - 64px);
		overflow: auto;
	}

	.resource-tree-wrap {
		height: calc(100% - 73px);
		overflow: auto;
	}
	.hos-tag {
		margin-right: 5px;
	}
}

// base-sys-dict-edit
.base-sys-dict-edit {
	.hos-table {
		.hos-form-item {
			margin-bottom: 0;
		}
    .hos-table__body-wrapper {
    //   max-height: 100px;
        overflow: auto;
        overflow-x: hidden;
    }
	}
	.tableData .hos-form-item--small.hos-form-item {
		margin-bottom: 0px;
	}
    .dialog-footer {
        padding: 20px 0;
    }
	
}
//用户管理样式问题
.user-tab {
    .user-aside {
        border-radius: 5px 5px 5px 5px;
        margin-right: 15px;
        margin-top: 1px;
        padding: 15px 15px 0 15px;
        height: calc(100% - 2px);
        box-shadow: 0px 0px 4px 1px #dbdbdb;
        background: #fff;
        .hos-input {
            margin: auto;
            margin-bottom: 10px;
        }
    }
    .hos-tabs {
        background: none;
        .hos-tabs__header {
            margin-bottom: 15px;
            background: #fff;
        }
    }
    .user-aside > .hos-tree  {
        overflow: auto;
        margin:0 -15px;
        height: calc(100% - 30px);
    }
    .hos-main {
        padding: 0;
        overflow: inherit;
        .hos-button-group.hos {
            width:515px;
        }
    }
    .hos-tabs__header {
        margin: auto;
    }
    .hos-tabs__content {
        overflow:inherit;
        height: calc(100% - 50px)!important;
    }
    .hos-tabs__header .hos-tabs__nav {
        width: 100%;
    }
    .hos-tabs--border-card>.hos-tabs__header .hos-tabs__item:last-child {
		float: right;
	}
	.hos-tabs--top.hos-tabs--border-card > .hos-tabs__header .hos-tabs__item:last-child {
		padding-right: 15px;
	}
    .hos-tabs--system .hos-tabs__nav-wrap .hos-tabs__item:last-child {
        float: right;
        border-bottom: none;
        line-height: 34px;
    }
    .hos-tabs--system .hos-tabs__nav-wrap .hos-tabs__item:last-child:after {
        background: none;
    }
    .hos-tabs--top .hos-tabs__item.is-top:last-child {
        position: relative;
        float: right;
        margin-right:15px;
        line-height: 38px;
    }
}
.user_card .hos-input-number {
    width: 100%!important;
    }
.user-add-tree {
    height:540px;
    .hos-input {
        padding-top: 10px;
        margin: auto;
    }
    .user-checkbox {
        margin: 10px 0 10px 0;
    }
    .hos-tree {
        overflow:auto;
        margin: 0 -15px;
        height:391px;
        .hos-tree-node__content > .hos-tree-node__expand-icon {
            margin-left: 9px;
        }
    }
    .hos-input__icon {
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
    }
    .dialog-footer {
        padding: 20px 0;
    }
}

.add-user {
    .dialog-footer {
        padding: 20px 0;
    }
    .hos-card {
        margin-bottom: 15px;
    }
    .hos-form {
        overflow-y: auto;
        overflow-x: hidden;
        height:416px;
        padding: 0 5px;
        .hos-card:first-child {
            margin-top: 5px;
        }
        .circulate {
            float: right;
            margin-right: 2px;
            line-height: 28px;
        }
        .mained {
            width: 30px;
        }
        .add-show {
            color:#dddddd; 
            pointer-events:none;
        }
        .pl40 {
            padding-left: 40px;
        }
        .userrole {
            position: absolute;
            float: right;
            margin-left: 605px;
            z-index: 9999999999999999999;
        }
        .hos-icom-cancel:before,.hos-icom-add:before {
            cursor: pointer;
        }
        .treeuser2 {
            .vue-treeselect {
                width: 204px;
            }
        }
        .ml30 {
            position: relative;
            margin-left: -30px;
        }
    }
}


// 系统参数
.base-sys-config {
    position: relative;
    .data-log-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.sys-config-edit {
    .hos-dialog__body {
        position: relative;
    }
}
//系统日志
.syslog .hos-date-editor.hos-input__inner {
    min-width: 225px;
}
.mw225 {
    min-width: 225px;
}
.padding30 {
    padding-left:30px!important;
}
