/* theme color */
$--color-primary: #0E5FFF;
$--color-primary-hover: #E3EDFF;
$--color-hover: #003FBB;
$--color-primary-light-10: #0050EF;
$--alert-border-color: #A2C1FF;

/* icon font path, required */
$--font-path: "~hosui/lib/theme-simple/fonts";
$--icon-image-path: "~hosui/lib/theme-simple/icon/image";

@import "~hosui/packages/theme-simple/src/index";
